.autocomplete_field{
    z-index:999;
    position:absolute;
    background-color:#FCFCFC;
    padding:1px;
    margin-top:-15px;
    margin-left:2px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(163,161,163,1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(163,161,163,1);
    box-shadow: 1px 2px 5px 0px rgba(163,161,163,1);
    max-height: 200px;
    overflow: auto;
}
.res_block{
    padding:3px;
    cursor:pointer;
}
.res_block:hover{
    background-color: #E7EBED;
}
