.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.dot-green{
    background-color: #62CB31;
    border: 1px solid #299200;
}

.dot-red{
    background-color: #FF0000;
    border: 1px solid #9F0000;
}
.dot-yellow{
    background-color: #FFFFC8;
    border: 1px solid #DADAA3;
}
.align-middle{
    vertical-align: middle!important;
}
.label{
    font-size:11px!important;
}
.ckl_block{
    cursor:pointer;
}
.dropdown-list-country{
    text-decoration: underline;
    color: #1D67A4;
}
.socket_state{
    float:right;
}