@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.messages_body{
    border:1px solid #EAEAEA;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    min-height: 200px;
    max-height: 550px;
    overflow: hidden;
    overflow-y: auto;
    margin:20px;
    padding:15px;
    width:98%;
    cursor:default!important;
}

.reply{
    float:right;
    cursor: pointer;
}
/*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
}
.left .testimonial-section:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.right .testimonial-section:after {
    top: 100%;
    right: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-right: -15px;
}

.testimonial-desc {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.testimonial-writer{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
}

.testimonial-writer-designation{
    font-size: 85%;
}

.testimonial-writer-company{
    font-size: 85%;
}
/*---- Outlined Styles ----*/
.testimonial.testimonial-default{

}

.testimonial.testimonial-primary .testimonial-section{
    border-color: #337AB7;
    color: #286090;
    background-color: rgba(51, 122, 183, 0.1);
}

.testimonial.testimonial-primary .testimonial-section:after{
    border-top-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-writer-name{
    color: #337AB7;
}

.testimonial.testimonial-success .testimonial-section{
    border-color: #5CB85C;
    color: #449d44;
    background-color: rgba(92, 184, 92, 0.1);
}

.testimonial.testimonial-success .testimonial-section:after{
    border-top-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-writer-name{
    color: #5CB85C;
}

.testimonial.testimonial-warning .testimonial-section{
    border-color: #F0AD4E;
    color: #d58512;
    background-color: rgba(240, 173, 78, 0.1);
}

.testimonial.testimonial-warning .testimonial-section:after{
    border-top-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-desc{

}

.testimonial.testimonial-warning .testimonial-desc img{
    border-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-writer-name{
    color: #F0AD4E;
}

.left, .right{
    width:70%;
}

.left{
    float:left;
    text-align: left;
}
.right{
    float:right;
    text-align: right;
}
.testimonial-writer{
    width:100%;
}

.left .testimonial-writer-name{
    text-align:left!important;
}

.right .testimonial-writer-name{
    text-align:right!important;
}