.modal_window {
    width: 300px;
    height: 100px;
    border: 1px solid #A9A9A9;
    background-color: #F7F6F6;
    -webkit-box-shadow: 10px 8px 27px -6px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 10px 8px 27px -6px rgba(0, 0, 0, 0.32);
    box-shadow: 10px 8px 27px -6px rgba(0, 0, 0, 0.32);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -150px;
    margin-top: -50px;
    z-index: 9000
}

.modal_head {
    background-color: #62CB31;
    color: white;
    padding: 3px;
}

.modal_body {
    padding: 10px;
    text-align: center;
}