@font-face {
    font-family: 'Pe-icon-7-stroke';
    src: url('/resources/fonts/pe-icon/Pe-icon-7-stroke.eot?-2irksn');
    src: url('/resources/fonts/pe-icon/Pe-icon-7-stroke.eot?#iefix-2irksn') format('embedded-opentype'),
    url('/resources/fonts/pe-icon/Pe-icon-7-stroke.woff?-2irksn') format('woff'),
    url('/resources/fonts/pe-icon/Pe-icon-7-stroke.ttf?-2irksn') format('truetype'),
    url('/resources/fonts/pe-icon/Pe-icon-7-stroke.svg?-2irksn#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}
