.slogan{
    width: 33%;
    font-size: 20px;
    color: grey;
    padding: 15px;
    display: inline-block;
}

.slogan-panel{
    width: 33%;
    font-size: 20px;
    color: grey;
    margin-left: 70px;
    display: inline-block;
}
.slogan-area{
    width: 100%;
    z-index: 900;
}
