.clock {
    box-shadow: inset 10px 0 10px rgba(255, 255, 255, 0.1);
    height: 55px;
    padding: 0 10px;
}

.clock:hover {
    background: #ffffff;
}

.clock .time {
    color: #34495e;
    font-size: 28px;
    font-weight: 100;
    line-height: 28px;
    padding: 5px 0;
    white-space: nowrap;
    width: 68px;
}

.clock .date {
    color: #a3afb7;
    font-size: 12px;
    line-height: 12px;
}
