.transcribe-setting-block{
    padding: 10px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    margin-bottom: 30px!important;
}

label.country{
    color: #34495E;
    font-size: 20px;
}

.muted_area{
    background-color: #FFD3D3;
}

.not_muted_area{
    background-color: white;
}
.stop-word-group{
    background-color: #F0F0F0;
    padding: 10px;
}
.button-settings{
    height: 80px !important;
    padding-top: 20px;
}
.btn-group{
    margin-bottom: -20px!important;
}
.block-setting{
    padding:10px!important;
    margin-bottom: 10px;
}
