.square{
    background-color:red;
    width:24px;
    height:24px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    padding:5px;
    float:left;
}
.sphere{
    background-color:white;
    width:13px;
    height:13px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}
.jira-btn {
    width: 160px;
    margin-top: 8px;
    padding-top: 8px;
}

.jira-btn span{
    margin:5px;
}