#timezone_switcher_dropdown.open #timezone_switcher_menu {
    color: #34495e;
}

#timezone_switcher_menu {
    font-size: 14px;
    line-height: 25px;
}

#timezone_switcher_dropdown_menu {
    padding-bottom: 0;
    width: 230px;
}

#timezone_switcher_dropdown_menu .dropdown-menu-header {
    border-bottom: 1px solid #e4e5e7;
    padding: 10px 0 15px;
    position: relative;
    text-align: center;
}

#timezone_switcher_dropdown_menu .dropdown-menu-header h5 {
    color: #34495e;
    font-size: 14px;
    margin: 0;
}

#timezone_switcher_dropdown_menu .dropdown-menu-header span.label {
    position: absolute;
    right: 20px;
    top: 10px;
}

#timezone_switcher_searcher {
    border-bottom: 1px solid #e4e5e7;
    padding: 10px;
    position: relative;
}

#timezone_switcher_searcher i {
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 16px;
}

#timezone_switcher_dropdown_menu .list-group {
    margin-bottom: 0;
    max-height: 250px;
}

#timezone_switcher_dropdown_menu .list-group-item {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 20px;
}

#timezone_switcher_dropdown_menu .list-group-item .inner-container {
    border-top: 1px solid #e4e5e7;
    padding: 15px 0;
}
#timezone_switcher_dropdown_menu .list-group-item:first-child .inner-container {
    border-top: medium none;
}
#timezone_switcher_dropdown_menu .list-group-item.no-border .inner-container {
    border-top: medium none;
}
