#widget-stack .panel-wrap-data,
#widget-stack .panel-wrap-data > .panel {
    height: 100%;
    overflow-y: hidden;
}

#widget-stack .panel-wrap-data > .panel > .panel-body {
    height: calc(100% - 90px);
    overflow-y: auto;
}
#widget-stack .panel-wrap-data > .panel > .panel-body > table:last-child {
    margin-bottom: 25px;
}
#widget-stack .panel-wrap-data > .panel > .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 3px 30px;
    background-color: #fff;
    color: lightgrey;
}
#widget_add_dropdown{
    overflow:hidden;
    overflow-y:auto;
    max-height: 700px;
}

#widget-stack .rc-handle-container {
    max-width: 100%;
}