body {
    background-color: #eaeaea;
    color: #515151;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #3572b0;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #3572b0;
    text-decoration: underline;
}

.nav-tabs {
    content: " ";
    display: table;
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li {
    display: block;
    position: relative;
}

.nav-tabs > li > a {
    border: 1px solid transparent;
    line-height: 1.42857;
    margin-right: 2px;
    color: #777777;
    display: block;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
}

.nav-tabs > li > a:hover {
    color: #3572b0;
    text-decoration: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #ffffff;
    border-color: #d6d8db #d6d8db transparent #d6d8db;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    text-decoration: none;
}

.panel .tab-pane {
    display: none;
    background-color: #ffffff;
    border: 1px solid #d6d8db;
    padding: 15px;
}
.panel .tab-pane.active {
    display: block;
}
.has-success .form-control {
    border-color: #ccc !important;
}
.has-error .form-control {
    background-color: #f2dede !important;
}
.loader {
    border: 3px solid #cccccc; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin 1s linear infinite;
    margin: 0 5px;
    padding: 7px 5px;
    background: #fff;
}