
#slideout {
    position: fixed;
    top: 440px;
    left: -10px;
    width: 80px;
    padding: 20px 0;
    text-align: center;
    background: #6DAD53;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    z-index: 9999;
}
#slideout_inner {
    position: fixed;
    top: 440px;
    left: -434px;
    background: #6DAD53;
    width: 434px;
    padding: 0;
    height: 280px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.caller_box{
    background-color: #F1F3F6;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
}

#phoneNumper{
    cursor: none;
    font-weight: bold;
}

#slideout:hover {
    left: 434px;
}
#slideout:hover #slideout_inner {
    left: 0;
}

body:hover #ZoiperA{
    left: 0;
}
/*
body:hover #zoiperBlock{
    left: 0;
}
*/


#zoiperBlock{
    z-index:-1;
    position: absolute;
    left:-1000px;
}

.modalZoiper{
    /*(display:none;*/
    position:absolute;
    top:130px;
    left:-1000px;
    background-color: #F2FFD8;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
   z-index:1000;
    -webkit-box-shadow: 9px 10px 18px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 9px 10px 18px -8px rgba(0,0,0,0.47);
    box-shadow: 9px 10px 18px -8px rgba(0,0,0,0.47);
}
