
.caller_box{
    background-color: #F1F3F6;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
}

#phoneNumper{
    cursor: none;
    font-weight: bold;
}

#slideout:hover {
    left: 434px;
}
#slideout:hover #slideout_inner {
    left: 0;
}

#sipml5Block{
    z-index:-1;
    position: absolute;
    left:-1000px;
}
.sipml5{
    padding-bottom:10px!important;
}

#dialer_modal_dialog {
    display: none;
    padding: 0px;
}

#dialer_modal_dialog .form-group{
    margin: 0px;
}

#dialer_modal_dialog .row {
    margin: 0 0 10px 0;
}

#dialer_modal_dialog .row .col-lg-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.5%;
}

#dialer_modal_dialog .row .col-lg-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
}

#dialer_modal_dialog .row .col-lg-6{
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}