.dot-red {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid darkred;
    display: inline-block;
}

.dot-green {
    height: 15px;
    width: 15px;
    background-color: #85D979;
    border-radius: 50%;
    border: 1px solid darkgreen;
    display: inline-block;
}

.open-list-queue {
    cursor: pointer;
}
