/* Yii debug toolbar */
.yii-debug-toolbar {
    height: 44px !important;
    width: 80px !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active {
    height: 44px !important;
    width: 100% !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active.yii-debug-toolbar_iframe_active {
    height: auto !important;
    width: 100% !important;
}

.yii-debug-toolbar__bar {
    height: 44px !important;
}

.yii-debug-toolbar__toggle {
    right: 0 !important;
    top: 6px !important;
}

.yii-debug-toolbar .yii-debug-toolbar__toggle-icon {
    transform: rotate(180deg) !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active .yii-debug-toolbar__toggle-icon {
    transform: rotate(0deg) !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active.yii-debug-toolbar_iframe_active .yii-debug-toolbar__toggle-icon {
    transform: rotate(90deg) !important;
}

.yii-debug-toolbar__block {
    padding: 5px 8px !important;
}

/* Toastr */
#toast-container {
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    margin: 10px auto 0;
}

#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-warning,
#toast-container > .toast-success {
    background-image: none;
}

#toast-container > div {
    background: #ffffff;
    padding: 20px;
    color: #6a6c6f;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

#toast-container > div:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-message {
    line-height: 15px;
}

.toast-close-button {
    color: #000000;
    height: 16px;
    line-height: 10px;
    opacity: 0.2;
    right: -9px;
    top: -10px;
    width: 16px;
}

.toast-info {
    background: #ffffff;
    border-left: 6px solid #3498db;
}

.toast-success {
    background: #ffffff;
    border-left: 6px solid #62cb31;
}

.toast-warning {
    background: #ffffff;
    border-left: 6px solid #ffb606;
}

.toast-error {
    background: #ffffff;
    border-left: 6px solid #e74c3c;
}

.toast-progress {
    opacity: 0.6;
}

.toast-info .toast-progress {
    background-color: #3498db;
}

.toast-success .toast-progress {
    background-color: #62cb31;
}

.toast-warning .toast-progress {
    background-color: #ffb606;
}

.toast-error .toast-progress {
    background-color: #e74c3c;
}

/* Columns */
.th-record-id {
    text-align: left;
    width: 54px;
}

.th-date {
    text-align: center;
    width: 144px;
}

.th-actions {
    text-align: right;
    width: 130px;
}

.td-actions {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    text-align: right;
}

.td-actions .btn {
    font-size: 13px;
}

/* Panel */
.small-header .panel-body h2 {
    margin-top: 3px;
}

.hpanel .panel-footer {
    overflow: hidden;
}

.hpanel ul.pagination {
    float: right;
    margin: 0;
}

.hpanel .panel-actions {
    float: right;
}

.hpanel .panel-actions .dropdown-actions {
    margin: -6px 0 0 10px;
}

/* Other */
#logo {
    width: 220px;
}

#side-menu span.fa.arrow {
    margin-top: 3px;
}

#side-menu li a {
    font-size: 11px;
    outline: none !important;
    padding: 15px 14px;
}

#side-menu .site-menu-icon {
    float: left;
    font-size: 16px;
    margin-right: 4px;
    width: 14px;
}

#side-menu .site-menu-label {
    position: relative;
    top: 1px;
}

#side-menu .nav li:last-child {
    border-bottom: medium none;
}

.fixed-sidebar #menu {
    width: 237px;
}

#wrapper {
    margin-left: 220px;
}

.hbreadcrumb {
    margin-top: 0;
}

tr.tr-vertical-align-middle td {
    vertical-align: middle !important;
}

body.modal-open {
    position: inherit !important;
}

.form-control[readonly] {
    background-color: #f3f7f9;
}

.form-control[type="password"] {
    background-color: #ffffff;
}

.bootstrap-switch.bootstrap-switch-focused {
    outline: none !important;
    box-shadow: none !important;
    border-color: #cccccc !important;
}

#logo.light-version span {
    text-transform: uppercase;
}

#header .navbar-right {
    margin-right: 0;
}

#header .flag-icon {
    font-size: 17px;
}

#header .dropdown-menu {
    margin-top: -1px;
}

#header .dropdown-languages .dropdown-menu a {
    padding: 3px 0;
}

.panel-group-continuous .panel-heading {
    padding: 0;
}

.panel-group-continuous .panel-heading .panel-title {
    display: block;
    padding: 10px 15px;
}

textarea.form-control {
    resize: vertical;
}

/* Short classes */
.font-size-11 {
    font-size: 11px;
}

.margin-right-3 {
    margin-right: 3px;
}

.margin-top-10 {
    margin-top: 10px;
}

.width-50 {
    width: 50px !important;
}

.width-100 {
    width: 100px !important;
}

.width-150 {
    width: 150px !important;
}

.width-200 {
    width: 200px !important;
}

.width-250 {
    width: 250px !important;
}

.width-300 {
    width: 300px !important;
}

.text-muted {
    color: #bcc2c8;
}

.text-gray {
    color: #9d9fa2;
}

.tl-fixed {
    table-layout: fixed;
}

.clip, .ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.clip {
    text-overflow: clip;
    -o-text-overflow: clip;
}

/* Select2 */
input.select2-search__field {
    height: 32px !important;
}

ul.select2-selection__rendered {
    line-height: 1.4 !important;
}

/* Tables */
table.table th {
    font-weight: 600;
}

.table-sortable th > a,
.table-sortable th > a.asc,
.table-sortable th > a.desc {
    color: #6a6c6f;
    text-decoration: underline;
}

.table-sortable th > a:hover,
.table-sortable th > a.asc:hover,
.table-sortable th > a.desc:hover {
    color: #6a6c6f;
    text-decoration: none;
}

.table-sortable th > a.asc::after {
    content: "\f0de";
    top: 4px;
}

.table-sortable th > a.desc::after {
    content: "\f0dd";
    top: -1px;
}

.table-sortable th > a.asc::after,
.table-sortable th > a.desc::after {
    color: #6a6c6f;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    margin-left: 5px;
}

.table-sortable th > a.asc:hover::after,
.table-sortable th > a.desc:hover::after {
    color: #6a6c6f;
}

table.table div.empty {
    text-align: center;
}
