.category-list {
    list-style: none;
    column-count: 3;
    height: auto;
}
.category-list li {
    page-break-inside: avoid;
    break-inside: avoid;
    border-right: 1px solid #E5E5E5!important
}
#export-call-records-button{
    padding:8px!important;
    margin-right: -25px!important;
}
