.scriptsPanels.panel-group{
    position: absolute;
    right : 11px;
}
.panel-group .panel-body{
    overflow: hidden;
    overflow-y: auto;
    max-height: 680px;
}

.scriptsPanels .panel-group {
    z-index: 999 !important;
}