input[name*="vat"].hidden{
    display: none;
}

.btn-status[data-status="2"],
.btn-status[data-status="2"]:focus,
.btn-status[data-status="2"]:active
{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-status[data-status="2"]:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}



.btn-status[data-status="3"],
.btn-status[data-status="3"]:focus,
.btn-status[data-status="3"]:active
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-status[data-status="3"]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-status[data-status="4"],
.btn-status[data-status="4"]:focus,
.btn-status[data-status="4"]:active,
.btn-status[data-status="404"],
.btn-status[data-status="404"]:focus,
.btn-status[data-status="404"]:active
{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-status[data-status="4"]:hover,
.btn-status[data-status="404"]:hover
{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-status[data-status="5"],
.btn-status[data-status="5"]:focus,
.btn-status[data-status="5"]:active,
.btn-status[data-status="511"],
.btn-status[data-status="511"]:focus,
.btn-status[data-status="511"]:active,
.btn-status[data-status="512"],
.btn-status[data-status="512"]:focus,
.btn-status[data-status="512"]:active,
.btn-status[data-status="513"],
.btn-status[data-status="513"]:focus,
.btn-status[data-status="513"]:active
{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-status[data-status="5"]:hover,
.btn-status[data-status="511"]:hover,
.btn-status[data-status="512"]:hover,
.btn-status[data-status="513"]:hover
{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-status[data-status="6"],
.btn-status[data-status="6"]:focus,
.btn-status[data-status="6"]:active
{
    color: #fff;
    background-color: #000000;
    border-color: #f6f6f6;
}
.btn-status[data-status="6"]:hover {
    color: #fff;
    background-color: #777;
    border-color: #555;
}

.btn-status[data-status="7"],
.btn-status[data-status="7"]:focus,
.btn-status[data-status="7"]:active
{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-status[data-status="7"]:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}


.btn-status {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-status[data-status="2"] {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}

.btn-status[data-status="2"]:hover,
.btn-status[data-status="2"]:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.btn-status[data-status="2"]:active,
.btn-status[data-status="2"].active {
    background-color: #e0e0e0;
    border-color: #dbdbdb;
}


.btn-status[data-status="3"] {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}

.btn-status[data-status="3"]:hover,
.btn-status[data-status="3"]:focus {
    background-color: #265a88;
    background-position: 0 -15px;
}
.btn-status[data-status="3"]:active,
.btn-status[data-status="3"].active {
    background-color: #265a88;
    border-color: #245580;
}


.btn-status[data-status="4"],
.btn-status[data-status="404"]{
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}

.btn-status[data-status="4"]:hover,
.btn-status[data-status="4"]:focus {
    background-color: #419641;
    background-position: 0 -15px;
}
.btn-status[data-status="4"]:active,
.btn-status[data-status="4"].active {
    background-color: #419641;
    border-color: #3e8f3e;
}



.btn-status[data-status="5"],
.btn-status[data-status="511"],
.btn-status[data-status="512"],
.btn-status[data-status="513"]{
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

.btn-status[data-status="5"]:hover,
.btn-status[data-status="5"]:focus {
    background-color: #c12e2a;
    background-position: 0 -15px;
}
.btn-status[data-status="5"]:active,
.btn-status[data-status="5"].active {
    background-color: #c12e2a;
    border-color: #b92c28;
}


.btn-status[data-status="6"] {
    background-image: -webkit-linear-gradient(top, #666 0%, #333 100%);
    background-image:      -o-linear-gradient(top, #666 0%, #333 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background-image:         linear-gradient(to bottom, #666 0%, #333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff333333', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #555;
}

.btn-status[data-status="6"]:hover,
.btn-status[data-status="6"]:focus {
    background-color: #333;
    background-position: 0 -15px;
}
.btn-status[data-status="6"]:active,
.btn-status[data-status="6"].active {
    background-color: #555;
    border-color: #f6f6f6;
}


.btn-status[data-status="7"] {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
    background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
    background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #e38d13;
}

.btn-status[data-status="7"]:hover,
.btn-status[data-status="7"]:focus {
    background-color: #eb9316;
    background-position: 0 -15px;
}
.btn-status[data-status="7"]:active,
.btn-status[data-status="7"].active {
    background-color: #eb9316;
    border-color: #e38d13;
}

#form-order .has-success input,
#form-order .has-success select,
#form-order .has-success textarea
{
    border-color: #e4e5e7 !important;
}
#form-order fieldset {
    margin-top: 7px !important;
}
#form-order legend {
    font-size: 18px !important;
    margin-bottom: 7px !important;
    border-bottom: none !important
}
#form-order .form-group {
    margin-bottom: 5px !important;
}

#form-order input.form-control
{
    padding: 5px 10px !important;
}
#form-order input.form-control,
#form-order select.form-control,
#form-order textarea.form-control {
    font-size: 12px !important;
}
#form-order input.form-control,
#form-order select.form-control
{
    height: 30px !important;
    line-height: 1.5 !important;
}

#form-order textarea.form-control
{
    height: 52px;
}
#form-order .comment-disabled
{
    font-size: 12px !important;
    white-space: pre-wrap !important;
}
#form-order .comment-flow
{
    overflow: hidden !important;
    max-height: 45px !important;
}
#form-order .nav > li > a {
    padding: 5px 10px !important;
}
#form-order .mt__5 {
    margin-top: 5px !important
}
#form-order .mb__5 {
    margin-bottom: 5px !important
}
#form-order .mb__10 {
    margin-bottom: 10px !important
}
#form-order .mt__10 {
    margin-top: 10px !important
}
#form-order .mt__8 {
    margin-top: 8px !important
}
#form-order .pl__10 {
    padding-left: 10px !important
}
#form-order .pl__0 {
    padding-left: 0px !important
}
#form-order .pt__0 {
    padding-top: 0px !important
}
#form-order .pl__5 {
    padding-left: 5px !important
}
#form-order .pl__15 {
    padding-left: 15px !important
}
#form-order .ml__5 {
    margin-left: 5px !important
}
#form-order .pr__5 {
    padding-right: 5px !important
}
#form-order .pr__15 {
    padding-right: 15px !important
}
#form-order .fs-icon {
    font-size: 24px !important;
}
#form-order .fs-icon-20 {
    font-size: 20px !important;
}
#form-order .fs-icon-bold {
    font-weight: 700 !important;
}
#form-order .clr-red {
    color: red !important;
}
#form-order .clr-cadetblue {
    color: cadetblue !important;
}
#form-order select.form-control {
    padding: 5px 0 !important;
}
#form-order input.gmap-autocomplete {
    border-color: limegreen !important;
}
#form-order .input-bg-white input.form-control,
#form-order .input-bg-white input.form-control:focus,
#form-order .input-bg-white input.form-control:active,
#form-order .input-bg-white input.form-control:hover
{
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}