.table {
    margin-bottom: 0;
}
.table th:first-child, .table td:first-child {
    padding-left: 30px;
}
.ui-sortable-handle {
    cursor: move;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: none;
    z-index: 2000;
    text-align: center;
}
#loading i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -120px;
    font-size: 100px;
    height: auto;
    color: #fff;
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
