#ready-button-box input {
    position: absolute;
    left: -9999px;
}

#ready-button-box label.label-ready-button {
    text-align:center;
    margin: 10px 30px 10px -50px;
    padding: 15px 30px 15px 62px;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    background-color: #dcdcdc;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

#ready-button-box label.label-ready-button::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 50px;
    transition: background-color .2s;
}

#ready-button-box label.label-ready-button:first-of-type {
    transform: translateX(-40px);
}

#ready-button-box label.label-ready-button:last-of-type {
    transform: translateX(40px);
}

#ready-button-box label:hover,
#ready-button-box input:focus + label.label-ready-button {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

#ready-button-box input:checked + label.label-ready-button {
    background-color: #85d979;
}

#ready-button-box input:checked + label.label-ready-button::before {
    background-color: #fff;
}

.mt__10 {
    margin-top: 10px;
}

iframe
{
    width: 100%;
    height: 700px;
    border: 0px;
}